@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h2, h3, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

h4 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 350; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h2, h3, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

h4 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 350; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.header_home_d {
  position: relative;
  background-image: url("../image/neivee_main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 767px) {
    .header_home_d {
      height: 542px;
      padding: 0 32px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_home_d {
      height: 660px; } }
  @media only screen and (min-width: 1025px) {
    .header_home_d {
      height: 660px; } }

.header_button {
  float: left;
  border: 1px solid #ffffff;
  padding: 16px 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px; }
  .header_button:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  .header_button:visited {
    color: #ffffff; }

@media only screen and (max-width: 767px) {
  .header_btn_right {
    margin-left: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header_btn_right {
    margin-left: 16px; } }

@media only screen and (min-width: 1025px) {
  .header_btn_right {
    margin-left: 16px; } }

.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  content: ""; }

.header_wrapper {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .header_wrapper {
      height: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_wrapper {
      margin-top: 30px;
      height: 56px; } }
  @media only screen and (min-width: 1025px) {
    .header_wrapper {
      margin-top: 30px;
      height: 56px; } }

@media only screen and (max-width: 767px) {
  .header_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media only screen and (min-width: 1025px) {
  .header_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

.header_button_m {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding: 16px 28px;
  border: 1px solid #ffffff;
  max-width: 132px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px; }
  .header_button_m:visited {
    color: #ffffff; }

.header_btn_m_postion {
  position: absolute;
  margin-bottom: 48px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0); }

.story_padding {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media only screen and (max-width: 767px) {
    .story_padding {
      padding-left: 32px;
      padding-right: 32px; } }

.story_gray {
  background-color: #F8F9FA;
  border-bottom: 1px solid #E9ECEF; }

.home_2_img {
  margin-top: 40px; }
  @media only screen and (max-width: 767px) {
    .home_2_img {
      margin-top: 0; } }

@media only screen and (max-width: 767px) {
  .round_shape {
    width: 50%;
    height: auto;
    margin-top: 40px;
    padding-left: 25%;
    padding-right: 25%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .round_shape {
    width: 70%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%; } }

@media only screen and (min-width: 1025px) {
  .round_shape {
    width: 70%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%; } }

.home_2_txt {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 16px; }
  @media only screen and (max-width: 767px) {
    .home_2_txt {
      padding-left: 25%;
      padding-right: 25%; } }

.table_center {
  text-align: center;
  margin: 16px auto 0;
  padding-bottom: 8px; }
  .table_center tr {
    border-bottom: 1px solid #CED4DA; }
    .table_center tr td {
      padding-top: 16px;
      padding-bottom: 2px; }

.notice_txt {
  text-decoration: none;
  color: #343A40; }
  .notice_txt:hover {
    color: #F56038; }
  .notice_txt:visit {
    color: #343A40; }
