@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.menu_gnb_container {
  background-color: #164573;
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .menu_gnb_container ul {
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px; }
    .menu_gnb_container ul li {
      padding-top: 14px;
      padding-bottom: 14px;
      list-style: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
      .menu_gnb_container ul li a {
        color: #ffffff;
        text-decoration: none; }

.close_area {
  height: 48px;
  max-width: 100%;
  position: relative; }

.close_btn {
  border: none;
  background-color: #164573; }

.close_img {
  width: 24px;
  height: 24px;
  vertical-align: top; }

.menu_margin {
  margin-top: 20px !important;
  margin-bottom: 40px !important; }

.close_position {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 10px; }

.menu_relative {
  position: relative;
  height: 100%;
  width: 100%; }

.menu_fix_top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  transform: translateY(-100%); }
