@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.navigation {
  color: #ffffff;
  max-width: 1146px;
  margin: 0 auto; }

.nav_fix_top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.99); }

@media only screen and (max-width: 767px) {
  .header_top_margin {
    margin-top: 48px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header_top_margin {
    margin-top: 80px; } }

@media only screen and (min-width: 1025px) {
  .header_top_margin {
    margin-top: 80px; } }

.nav_shadow {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }

.nav_container {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .nav_container {
      height: 48px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav_container {
      height: 80px; } }
  @media only screen and (min-width: 1025px) {
    .nav_container {
      height: 80px; } }

.d-menu-center-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%); }
  @media only screen and (max-width: 767px) {
    .d-menu-center-1 {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .d-menu-center-1 {
      padding-left: 56px; } }
  @media only screen and (min-width: 1025px) {
    .d-menu-center-1 {
      padding-left: 56px; } }

.d-menu-center-2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding-right: 56px; }
  @media only screen and (max-width: 767px) {
    .d-menu-center-2 {
      padding-right: 0; } }

.d-menu-button {
  float: right;
  margin-right: 10px;
  border: 0;
  background-color: #ffffff; }

.d-menu {
  float: right; }

.d-menu-link {
  text-decoration: none;
  color: #868E96;
  box-sizing: border-box;
  padding: 32px 24px 27px; }
  .d-menu-link:visited {
    color: #868E96; }

.d-menu-hover:hover {
  color: #495057;
  border-bottom: 4px solid #CED4DA; }

.d-menu-active {
  color: #0064A2;
  border-bottom: 4px solid #004d81;
  font-weight: 400; }
  .d-menu-active:hover {
    color: #0064A2;
    border-bottom: 4px solid #CED4DA; }
  .d-menu-active:visited {
    color: #0064A2; }

.neivee_logo {
  vertical-align: top; }
  @media only screen and (max-width: 767px) {
    .neivee_logo {
      width: 59px;
      height: 100%;
      padding-top: 4px;
      padding-bottom: 4px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .neivee_logo {
      width: 92px;
      height: 100%; } }
  @media only screen and (min-width: 1025px) {
    .neivee_logo {
      width: 92px;
      height: 100%; } }

.neivee_logo_area {
  padding: 16px;
  vertical-align: top; }

.menu_icon {
  width: 22px;
  height: 100%;
  vertical-align: top; }

.button_default {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border: 1px solid #CED4DA;
  text-align: center;
  text-decoration: none;
  background: #DEE2E6;
  color: #868E96;
  border-radius: 2px;
  margin-top: 40px; }
  @media only screen and (max-width: 767px) {
    .button_default {
      font-size: 26px;
      max-width: 160px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .button_default {
      font-size: 36px;
      max-width: 200px; } }
  @media only screen and (min-width: 1025px) {
    .button_default {
      font-size: 36px;
      max-width: 200px; } }
  .button_default:hover {
    background-color: #164573;
    border-color: #164573; }
    .button_default:hover h3 {
      color: #ffffff; }
  .button_default:visited {
    color: #868E96; }

.story_title {
  text-align: center; }

.story_sub {
  text-align: center;
  margin-top: 28px; }

.footer_bg {
  background-color: #164573; }

.footer_info {
  background-color: #164573;
  position: relative;
  color: #ffffff;
  box-sizing: border-box;
  max-width: 1152px;
  margin: 0 auto; }
  @media only screen and (max-width: 767px) {
    .footer_info {
      min-height: 450px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_info {
      min-height: 258px;
      padding: 40px 64px; } }
  @media only screen and (min-width: 1025px) {
    .footer_info {
      min-height: 258px;
      padding: 40px 64px; } }

@media only screen and (max-width: 767px) {
  .footer_linkable_home {
    position: relative;
    text-align: center;
    margin-top: 20px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer_linkable_home {
    position: absolute;
    bottom: 50px;
    right: 64px; } }

@media only screen and (min-width: 1025px) {
  .footer_linkable_home {
    position: absolute;
    bottom: 50px;
    right: 64px; } }

.footer_sns a {
  display: inline-block;
  vertical-align: top; }

@media only screen and (max-width: 767px) {
  .footer_sns {
    position: relative;
    text-align: center;
    margin-top: 40px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer_sns {
    text-align: left;
    position: absolute;
    right: 52px;
    bottom: 88px; } }

@media only screen and (min-width: 1025px) {
  .footer_sns {
    text-align: left;
    position: absolute;
    right: 52px;
    bottom: 88px; } }

.linkable_logo {
  width: 182px;
  height: auto; }

@media only screen and (max-width: 767px) {
  .linkable_logo_position {
    text-align: center;
    padding-top: 48px; } }

.footer_company_info_group {
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .footer_company_info_group {
      margin-top: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_company_info_group {
      margin-top: 14px; } }
  @media only screen and (min-width: 1025px) {
    .footer_company_info_group {
      margin-top: 14px; } }

.footer_company_info {
  font-weight: 100; }
  @media only screen and (max-width: 767px) {
    .footer_company_info {
      text-align: center; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_company_info {
      text-align: left; } }
  @media only screen and (min-width: 1025px) {
    .footer_company_info {
      text-align: left; } }

.linkable_jump_btn {
  padding: 10px 24px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  border-radius: 2px; }
  .linkable_jump_btn:hover {
    background-color: rgba(255, 255, 255, 0.3); }

.sns_info {
  width: 48px;
  height: 100%;
  vertical-align: top; }

.txt_center {
  text-align: center; }

@media only screen and (max-width: 767px) {
  .txt_center_m {
    text-align: center; } }

.row_margin {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 16px;
  padding-right: 16px; }

.row_margin_2 {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 40px; }

.story_padding {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media only screen and (max-width: 767px) {
    .story_padding {
      padding-left: 32px;
      padding-right: 32px; } }

.story_gray {
  background-color: #F8F9FA;
  border-bottom: 1px solid #E9ECEF; }

.story_padding_bottom48 {
  padding-bottom: 48px; }

hr {
  border: 1px solid #DEE2E6; }

.mt_40 {
  margin-top: 40px; }

.mt_80 {
  margin-top: 80px; }

.display_block {
  display: block; }

.txt_right {
  text-align: right; }

.txt_left {
  text-align: left; }

.margin_auto {
  margin: 0 auto; }

.margin_left_auto {
  margin-left: auto; }

.margin_right_auto {
  margin-right: auto; }

.mt_24 {
  margin-top: 24px; }

.mb_24 {
  margin-bottom: 24px; }

.mt_8 {
  margin-top: 8px; }

.mt_4 {
  margin-top: 4px; }

.mt_16 {
  margin-top: 16px; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.header_home_d {
  position: relative;
  background-image: url("../image/neivee_main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 767px) {
    .header_home_d {
      height: 542px;
      padding: 0 32px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_home_d {
      height: 660px; } }
  @media only screen and (min-width: 1025px) {
    .header_home_d {
      height: 660px; } }

.header_button {
  float: left;
  border: 1px solid #ffffff;
  padding: 16px 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px; }
  .header_button:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  .header_button:visited {
    color: #ffffff; }

@media only screen and (max-width: 767px) {
  .header_btn_right {
    margin-left: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header_btn_right {
    margin-left: 16px; } }

@media only screen and (min-width: 1025px) {
  .header_btn_right {
    margin-left: 16px; } }

.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  content: ""; }

.header_wrapper {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .header_wrapper {
      height: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_wrapper {
      margin-top: 30px;
      height: 56px; } }
  @media only screen and (min-width: 1025px) {
    .header_wrapper {
      margin-top: 30px;
      height: 56px; } }

@media only screen and (max-width: 767px) {
  .header_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media only screen and (min-width: 1025px) {
  .header_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

.header_button_m {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding: 16px 28px;
  border: 1px solid #ffffff;
  max-width: 132px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px; }
  .header_button_m:visited {
    color: #ffffff; }

.header_btn_m_postion {
  position: absolute;
  margin-bottom: 48px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0); }

.home_2_img {
  margin-top: 40px; }
  @media only screen and (max-width: 767px) {
    .home_2_img {
      margin-top: 0; } }

@media only screen and (max-width: 767px) {
  .round_shape {
    width: 50%;
    height: auto;
    margin-top: 40px;
    padding-left: 25%;
    padding-right: 25%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .round_shape {
    width: 70%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%; } }

@media only screen and (min-width: 1025px) {
  .round_shape {
    width: 70%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%; } }

.home_2_txt {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 16px; }
  @media only screen and (max-width: 767px) {
    .home_2_txt {
      padding-left: 25%;
      padding-right: 25%; } }

.table_center {
  text-align: center;
  margin: 16px auto 0;
  padding-bottom: 8px; }
  .table_center tr td {
    padding-top: 16px;
    padding-bottom: 2px; }

.notice_txt {
  text-decoration: none;
  color: #343A40; }
  .notice_txt:hover {
    color: #F56038; }
  .notice_txt:visit {
    color: #343A40; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.header_service_d {
  position: relative;
  background-image: url("../image/service_header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 440px; }

.service_title {
  color: #ffffff;
  font-weight: 100;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .service_title {
      margin-top: 154px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .service_title {
      margin-top: 174px; } }
  @media only screen and (min-width: 1025px) {
    .service_title {
      margin-top: 174px; } }

.service_subtitle {
  color: #ffffff;
  font-weight: 100;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .service_subtitle {
      margin-top: 8px; } }

.service_2_img_padding {
  padding-left: 16px;
  padding-right: 16px; }

.service_img_flex {
  max-width: 100%;
  height: auto; }

.need_car_title {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #0064A2; }

.need_car_subtitle {
  margin-bottom: 40px; }

@media only screen and (max-width: 767px) {
  .withride_img_padding {
    padding-left: 16px;
    padding-right: 16px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_img_padding {
    padding-left: 16px;
    padding-right: 48px; } }

@media only screen and (min-width: 1025px) {
  .withride_img_padding {
    padding-left: 16px;
    padding-right: 56px; } }

.withride_img_flex {
  max-width: 100%;
  height: auto; }
  @media only screen and (min-width: 321px) and (max-width: 767px) {
    .withride_img_flex {
      width: 310px;
      height: auto; } }

.withride_apply_btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 24px;
  border: 1px solid #CED4DA;
  background-color: #DEE2E6;
  text-decoration: none;
  border-radius: 2px;
  margin-top: 40px;
  color: #868E96; }
  .withride_apply_btn:visited {
    color: #868E96; }
  .withride_apply_btn:hover {
    color: #ffffff;
    background-color: #164573;
    border-color: #164573; }

.ride_margin_top {
  margin-top: 40px; }

.caution {
  color: #868E96;
  max-width: 1024px;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px; }

.car_img {
  vertical-align: top;
  margin-top: 8px;
  max-width: 100%;
  height: auto;
  padding-left: 8px;
  padding-right: 8px; }

.table_position {
  text-align: center; }

table {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .table_padding {
    margin-left: 32px;
    margin-right: 32px; } }

@media only screen and (min-width: 768px) and (max-width: 1088px) {
  .table_padding {
    padding: 0 32px; } }

.th_top {
  padding: 24px;
  background-color: #164573;
  color: #ffffff;
  font-weight: 200;
  vertical-align: middle; }

@media only screen and (max-width: 767px) {
  .table_hidden {
    display: none; } }

.th_left {
  padding: 12px 12px;
  min-width: 96px;
  background-color: #164573;
  color: #ffffff;
  font-weight: 200;
  box-sizing: border-box;
  border-bottom: 1px solid #164573;
  vertical-align: middle; }

.td_info {
  box-sizing: border-box;
  border-bottom: 1px solid #CED4DA;
  text-align: right;
  color: #495057;
  padding-right: 16px;
  vertical-align: middle; }

.neivee_img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }
  @media only screen and (min-width: 321px) and (max-width: 767px) {
    .neivee_img {
      width: 220px;
      height: auto; } }

.neivee_app_padding {
  padding: 0 16px; }

.neivee_app_title {
  color: #0064A2;
  margin-top: 16px;
  margin-bottom: 12px; }

.neivee_app_body {
  margin-bottom: 40px; }

.store_title {
  margin-bottom: 28px; }
  .store_title h3 {
    font-weight: 400;
    color: #164573; }

.store_link {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto; }

.google {
  max-width: 146px;
  padding: 0 8px; }

.apple {
  max-width: 146px;
  padding: 0 8px; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.header_apply_d {
  position: relative;
  background-image: url("../image/apply_header_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 440px; }

@media only screen and (max-width: 429px) {
  .apply_title {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 142px; } }

@media only screen and (min-width: 430px) and (max-width: 767px) {
  .apply_title {
    margin-top: 180px; } }

.apply_meet_title {
  padding-bottom: 46px; }

.caution_meet {
  color: #868E96;
  max-width: 1024px;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 16px; }
  @media only screen and (max-width: 767px) {
    .caution_meet {
      padding-left: 32px;
      padding-right: 32px;
      text-align: center; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .caution_meet {
      text-align: center; } }
  @media only screen and (min-width: 1025px) {
    .caution_meet {
      padding-right: 64px;
      padding-left: 32px; } }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.header_with_d {
  position: relative;
  background-image: url("../image/with_header_image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 440px; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.header_notice_d {
  position: relative;
  background-image: url("../image/notice_header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 440px; }

@media only screen and (max-width: 429px) {
  .notice_title {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px; } }

@media only screen and (min-width: 430px) and (max-width: 767px) {
  .notice_title {
    margin-top: 193px; } }

@media only screen and (min-width: 1025px) {
  .notice_title {
    margin-top: 193px; } }

.notice_img {
  max-width: 100%;
  height: auto; }

@media only screen and (max-width: 767px) {
  .margin_32px {
    margin-left: 32px;
    margin-right: 32px; } }

.notice_body {
  margin-top: 40px;
  color: #424242; }

@media only screen and (max-width: 767px) {
  .board_move {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .board_move {
    font-size: 14px; } }

@media only screen and (min-width: 1025px) {
  .board_move {
    font-size: 14px; } }

.powerful {
  font-weight: 500; }

.board_link_style {
  text-decoration: none;
  color: #495057; }
  .board_link_style:visited {
    color: #495057; }
  .board_link_style:hover {
    color: #F56038; }

.notice_move {
  color: #868E96; }
  .notice_move:hover {
    color: #F56038; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

h1 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100; }

h3 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 200; }

h2, h4, p, a {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300; }

strong, h6 {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400; }

h5, .withride_title {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500; }

body {
  word-break: keep-all;
  color: #343A40;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 48px; } }

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 48px; } }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1025px) {
  h2 {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 22px; } }

@media only screen and (min-width: 1025px) {
  h3 {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h4 {
    font-size: 18px; } }

@media only screen and (min-width: 1025px) {
  h4 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h5 {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  h5 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 12px; } }

@media only screen and (min-width: 1025px) {
  h6 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, a {
    font-size: 15px; } }

@media only screen and (min-width: 1025px) {
  p, a {
    font-size: 15px; } }

.h1_home {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .h1_home {
      margin-top: 103px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h1_home {
      margin-top: 210px; } }
  @media only screen and (min-width: 1025px) {
    .h1_home {
      margin-top: 210px; } }

.header_sub {
  color: #ffffff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .header_sub {
      margin-top: 19px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header_sub {
      margin-top: 20px; } }
  @media only screen and (min-width: 1025px) {
    .header_sub {
      margin-top: 20px; } }

.withride_title {
  color: #0064A2; }
  @media only screen and (max-width: 767px) {
    .withride_title {
      font-size: 15px;
      text-align: center;
      margin-top: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .withride_title {
      font-size: 22px; } }
  @media only screen and (min-width: 1025px) {
    .withride_title {
      font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .withride_body {
    text-align: center;
    max-width: 310px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .withride_body {
    margin-top: 24px; } }

@media only screen and (min-width: 1025px) {
  .withride_body {
    margin-top: 24px; } }

.car_name {
  color: #0064A2;
  font-weight: 500;
  margin-bottom: 40px; }

table * {
  font-size: 14px; }

.menu_gnb_container {
  background-color: #164573;
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .menu_gnb_container ul {
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px; }
    .menu_gnb_container ul li {
      padding-top: 14px;
      padding-bottom: 14px;
      list-style: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
      .menu_gnb_container ul li a {
        color: #ffffff;
        text-decoration: none; }

.close_area {
  height: 48px;
  max-width: 100%;
  position: relative; }

.close_btn {
  border: none;
  background-color: #164573; }

.close_img {
  width: 24px;
  height: 24px;
  vertical-align: top; }

.menu_margin {
  margin-top: 20px !important;
  margin-bottom: 40px !important; }

.close_position {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 10px; }

.menu_relative {
  position: relative;
  height: 100%;
  width: 100%; }

.menu_fix_top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  transform: translateY(-100%); }
