@import "_ui kit.sass"

.menu_gnb_container
    background-color: $navy
    width: 100%
    margin: 0 auto
    ul
        margin: 0 auto
        padding-left: 48px
        padding-right: 48px
        li
            padding-top: 14px
            padding-bottom: 14px
            list-style: none
            border-bottom: 1px solid rgba(255, 255, 255, 0.15)
            a
                
                color: $white
                text-decoration: none



.menu_margin
    padding-top: 24px !important
    padding-bottom: 40px !important

.menu_relative
    position: relative
    height: 100%
    width: 100%

.menu_fix_top
    position: fixed
    top: 48px
    width: 100%
    z-index: 2000
    background-color: $navy
    display: none
